<!DOCTYPE html>
<html>
  <head>
    <!--<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>-->
     <title><%= full_title(yield(:title)) %></title> <!-- Custome Helper -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <!-- where alert-<%= message_type  %> 
          makes a CSS class corresponding to the type of message, 
          so that for a :success message the class is
          alert-success
        -->
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
